main[data-theme="Dark"] {
  --main-color: #333333;
  --text-color: #e1f4f3;
}

main[data-theme="Blue"] {
  --main-color: #19456b;
  --text-color: #e7d9ea;
}

main[data-theme="Red"] {
    --main-color: #ec4646;
    --text-color: white;
  }

  main[data-theme="Yellow"] {
    --main-color: #ffd369;
    --text-color: #5b0909;
  }

  main[data-theme="Green"] {
    --main-color: #96bb7c;
    --text-color: #184d47;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--main-color);
  color: var(--text-color);
}

.title {
  font-size: 3em;
}

.factContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.subjects {
  font-size: 1.5em;
  font-weight: normal;
}

.content {
  font-size: 1em;
}
